/* Menu Page Items */
body {
    background-color:#81BECE;
    margin: 0px;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color:#012E4A;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(4rem,20vw,48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

/* Background Pattern */
#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0%,0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1 "] > #menu-background-pattern {
    background-position: 0% -50%;
}

#menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
}

/* Background Image */
#menu-background-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-image: none;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0;
    

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-image 700ms ease ;
}


#menu-items:hover ~ #menu-background-image{
    opacity: 0.15;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-size: 100vmax;
    background-image: url(../images/National_University_of_Singapore-Logo.png);
}

#menu[data-active-index="1"] > #menu-background-image {
    background-size: 100vmax;
    background-image: url(../images/Credit_Suisse_logo_PNG1.png);
}

#menu[data-active-index="2"] > #menu-background-image {
    background-size: 100vmax;
    background-image: url(../images/FDM\ Group.png);
}

#menu[data-active-index="3"] > #menu-background-image {
    background-size: 100vmax;
    background-image: url(../images/GitHub_Logo.png);
}




/* Header Elements */
header {
	background: #012E4A;
    opacity: 70%;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Navigation Bar */
nav {
	float:right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
    padding-right: 12px;
}

nav li {
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	padding-bottom: 25px;
	
	position: relative;
}

nav a {
	color: #E8EDE7;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 25px;
}

nav a:hover {
	color: #81BECE;
}

nav a:before {
	  content: '';
	  display: block;
	  height: 5px;
	  background-color: #E8EDE7;
	
	  position: absolute;
	  top: 0;
	  width: 0%;
	  
	  transition: all ease-in-out 250ms;
}

nav a:hover::before {
    color: #81BECE;
	width: 100%;
}

nav name {
     font-family: Georgia, 'Times New Roman', Times, serif;
    color: #E8EDE7;
	text-decoration-style: solid;
    text-transform: uppercase;
    font-weight: bold;
	font-size: 20px;
    position: relative;
    right: 650px;
}

/* Main Body Elements  */
.main-body-wrapper {
    background-color: #378BA4;
    opacity: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

.main-body-wrapper-alternate {
    background-color: #E8EDE7;
    opacity: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}


.main-body-image {
    padding: 10px;
}

.main-body-text {
    color:#E8EDE7;
    padding: 10px;
}

.main-body-text-alternate{
    color:#012E4A;
    padding-top: 10px;
    
}

.logo-wrapper{
    display: flex;
    justify-content: space-around;
}

.main-body-header{
    padding: 0%;
    margin: 0%;
}
.main-body-subtext{
    margin: 0%;
}


/* Experiences */
.experience-main-body-subtext {
    display: flex;
    justify-content: space-around;
    margin: 0%;
}


/* Image track - delete as necessary */
#image-track > .image {
    width: 80vmin;
    height: 65vmin;
    object-fit: cover;
    object-position: 100% center;

}

#image-track{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    user-select: none;
}
