<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Frontend</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css">
    <div class="header">
        <p>Scrolling Webpage Test</p>
    </div>

</head>
<body>
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="resources/lighthouse-image.jpg", draggable="false"/>
    </div>

</body>
<script src="../javascript/main.js"></script>
</html>