<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Frontend</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/mainpage.css">

</head>
<body>

    <header>
        <div class="container">
            <nav>

                <ul>
                    <name>
                        Max Chan
                    </name>
                    <li><a href="mainpage">Home</a></li>
                    <li><a href="profile">Profile</a></li>
                    <li><a href="experiences">Experience</a></li>
                    <li><a href="projects">Projects</a></li>
                    <li><a href="code-snippets">Code Snippets</a></li>
                    
                </ul>
            </nav>
        
        </div>
        </header>
    
    <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
        <img class="image" src="../images/testimage - to replace.jpg", draggable="false", height="400", width="600"/>
    </div>

</body>
<script src="../javascript/mainpage.js"></script>
</html>