<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Frontend</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/mainpage.css">

</head>
<body>
<div id="menu">
    <div id="menu-items">
        <a href="profile.html" class="menu-item">Profile</a>
        <a href="experiences.html" class="menu-item">Experiences</a>
        <a href="projects.html" class="menu-item">Projects</a>
        <a href="code-snippets.html" class="menu-item">Code Snippets</a>
    </div>
    <div id="menu-background-pattern"></div>
    <div id="menu-background-image"></div>
</div>
</body>
<script src="../javascript/mainpage.js"></script>
</html>