
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Learning Frontend</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/mainpage.css">

</head>
<body>

    <header>
        <div class="container">
            <nav>
                <ul>
                    <name>Max Chan</name>
                    <li><a href="mainpage.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="experiences.html">Experience</a></li>
                    <li><a href="projects.html">Projects</a></li>
                    <li><a href="code-snippets.html">Code Snippets</a></li>
                </ul>
            </nav>
        </div>
    </header>
    </div class = "main-body">
        <div class="main-body-wrapper">
            <div class="main-body-image">
                <!-- TODO: Replace image with actual image -->
                <img class="image" src="../images/testimage - to replace.jpg", height="400", width="600">
            </div>
            <div class="text-wrapper">
                <div class="logo-wrapper">
                    <img class="image" src="../images/National_University_of_Singapore-Logo.png", style="height: 200px; width: 340px;">
                </div>
                <div class="main-body-text">
                    <h5 class="experience-main-body-subtext">L2 Support for Risk Managment Systems (RMS) - JANE & Raptor</h5>
                    <h5>In UBS-Credit Suisse, I headed the subsystems for 2 RMSes - Just Another Number Engine (JANE) and Raptor. Both were global in-house systems, where raptor was handling live data flows. It was a fast-paced, high-stakes investment banking experience; i learnt to create quick and efficient solutions to issues that arise and priority management.</h5> 
                    <ul>
                        <li>Operated support systems for incident management
                            <ul>
                                <li>Service Now (SNOW) queue; ticket management</li>
                                <li>JIRA tracking software</li>
                                <li>Internal CICD pipelines under the Zoo umbrella</li>
                                <li>Support monitoring systems like Geneos</li>
                            </ul>
                        </li>
                        <li>Bridged the gap between user and developers for RMS
                            <ul>
                                <li>Create swift solutions by troubleshooting production issues</li>
                                <li>Due to the scale of the system, worked with a myriad of different teams on varying tradetypes</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="main-body-wrapper-alternate">
            <div class="text-wrapper">
                <div class="logo-wrapper">
                    <img class="image" src="../images/UOB.png", style="height: 200px; width: 300px;">
                </div>
                <div class="main-body-text-alternate">
                    <h5 class="experience-main-body-subtext">Portfolio Risk Manager</h5>
                    <h5>Worked as a Business Analyist for portfolio risk, producing reports through data flow management and data visualization.</h5>
                            <!--TODO: fill in with info from CV  -->
                </div>
            </div>
            <div class="main-body-image">
                <!-- TODO: Replace image with actual image -->
                <img class="image" src="../images/testimage - to replace.jpg", height="400", width="600">
            </div>
            
        </div>
        
    <!-- <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0"> -->  
    </div>

</body>
<!-- <script src="../javascript/mainpage.js"></script> -->
</html>
